<!-- First page -->
<div class="background-first section">
  <div class="container-bg">
    <h1></h1>
    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
      <path d="M0,172v-172h172v172z" fill="none"></path>
      <g fill="#eeeeee">
        <path d="M143.19336,21.43001c-0.26705,0.00844 -0.53341,0.03181 -0.79785,0.06999h-34.89551c-2.58456,-0.03655 -4.98858,1.32136 -6.29153,3.55376c-1.30295,2.2324 -1.30295,4.99342 0,7.22582c1.30295,2.2324 3.70697,3.59031 6.29153,3.55376h18.53256l-66.59961,66.59961c-1.8722,1.79752 -2.62637,4.46674 -1.97164,6.97823c0.65473,2.51149 2.61604,4.4728 5.12753,5.12753c2.51149,0.65473 5.18071,-0.09944 6.97823,-1.97165l66.59961,-66.59961v18.53255c-0.03655,2.58456 1.32136,4.98858 3.55376,6.29153c2.2324,1.30295 4.99342,1.30295 7.22582,0c2.2324,-1.30295 3.59031,-3.70697 3.55376,-6.29153v-34.9235c0.28889,-2.08845 -0.35639,-4.19816 -1.76411,-5.76769c-1.40772,-1.56953 -3.43507,-2.43964 -5.54253,-2.3788zM35.83333,21.5c-7.83362,0 -14.33333,6.49972 -14.33333,14.33333v100.33333c0,7.83362 6.49972,14.33333 14.33333,14.33333h100.33333c7.83362,0 14.33333,-6.49972 14.33333,-14.33333v-43c0.03655,-2.58456 -1.32136,-4.98858 -3.55376,-6.29153c-2.2324,-1.30295 -4.99342,-1.30295 -7.22582,0c-2.2324,1.30295 -3.59031,3.70697 -3.55376,6.29153v43h-100.33333v-100.33333h43c2.58456,0.03655 4.98858,-1.32136 6.29153,-3.55376c1.30295,-2.2324 1.30295,-4.99342 0,-7.22582c-1.30295,-2.2324 -3.70697,-3.59031 -6.29153,-3.55376z"></path>
      </g>
    </g>
  </div>


  <div class="container">
    <div class="infos-name section">
      <%= image_tag("logo_portfolio.png", class:"logo") %>
      <p class="fullname">DUBERNARD LUCAS</p>
      <p class="description">Developper web Full Stack (Back and Front)</p>
      <div class="typed-div">
        <p class="typed-text"></p>
      </div>
      <a href="#skills"><i class="fas fa-angle-double-down"></i></a>
    </div>
  </div>
</div>


<!-- Skills -->

<div id="skills" class="section">
  <div class="container">
    <p class="title">Skills</p>
    <ul class="skill-list">
      <li>x Ruby / Framwork : OnRails</li>
      <li>x JavaScript</li>
      <li>x React (incoming)</li>
      <li>x HTML</li>
      <li>x CSS</li>
      <li>x SQL / Postgre</li>
      <li>x JQuery</li>
      <li>x GitHub</li>
      <li>x Using API</li>
      <li>x Bootstrap</li>
      <li>x Heroku</li>
    </ul>
    <a href="#formation">
      <p class="arrow"><i class="fas fa-angle-double-down p2"></i></p>
    </a>
  </div>
</div>

<!-- Formation -->

<div id="formation" class="section">
  <div class="container">
    <p class="title">Formation</p>
    <div class="logo-wagon-div">
      <%= image_tag("logo-wagon.png", class:"logo-wagon") %>
    </div>
    <p class="text-formation">I followed an intensive 10 weeks training course (October to December 2019) at <a href="https://www.lewagon.com/" target="_blank">Wagon</a> Bordeaux. We learned the Ruby language for the back-end and the JavaScript, HTML and CSS languages for the front-end. I have also worked with tools that developers use such as GitHub, SQL, Heroku and many others. But above all I was able to learn an effective working method for the developer as well as for the client. I continue to learn new technologies every day and improve on the skills I have acquired. During this training I was able to do group projects from start to finish. You can find these projects on this page : follow the arrows !</p>
    <a href="#projects">
      <p class="arrow"><i class="fas fa-angle-double-down p2"></i></p>
    </a>
  </div>
</div>

<!-- Projects -->

<div id="projects" class="section">
  <div class="container">
    <p class="title">Projects</p>
    <p class="advice">
      Advice: these applications are responsive but they have been developed according to the "mobile first" model. So for a better experience we advise you to consult its apps in mobile format.<br>Apps are hosted on a Heroku server, there may be a loading time of 20 seconds.
      <br>
      You can create an account or log in with the following ids :<br>Email : lucas@gmail.com<br>Password : azerty<br>
    </p>

    <div class="web-site">
      <a href="https://loue-mon-conjoint.herokuapp.com/" target="_blank">
        <div class="title-project">
        <%= image_tag("LMC-logo.png") %>
        </div>
        <p class="content-project">
        For this first group project, we decided to create a "marketplace", like Airbnb or LeBonCoin. It was an exercise so the subject was not important. But technically we have learned how to allow users to create offers, accept or refuse requests, consult ads and reserve them. Furthermore, there is an identification system for users. You will also notice the use of APIs and in particular that of Google Map.</p>
      </a>
    </div>

    <div class="web-site">
      <a href="https://loue-mon-conjoint.herokuapp.com/" target="_blank">
        <div class="title-project">
        <%= image_tag("LMC-logo.png") %>
        </div>
        <p class="content-project">
        For this first group project, we decided to create a "marketplace", like Airbnb or LeBonCoin. It was an exercise so the subject was not important. But technically we have learned how to allow users to create offers, accept or refuse requests, consult ads and reserve them. Furthermore, there is an identification system for users. You will also notice the use of APIs and in particular that of Google Map.</p>
      </a>
    </div>

    <a href="#">
      <p class="arrow"><i class="fas fa-angle-double-down p2"></i></p>
    </a>
  </div>
</div>
