@font-face {
  font-family: 'elrotex';
  src: asset_url('elrotex.ttf')
}

a:link {
  text-decoration: none;
}


.title {
  font-family: 'elrotex';
  color: white;
  font-size: 50px;
  background-image:linear-gradient(to top, #d1e8ff 25%, #aecfe8 50%, #6b88a0 75%, #59656f 100%);
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
}

.arrow {
  display: flex;
  justify-content: center;
}

body {
  background-image: url(asset_path("background.jpeg"));
  background-attachment: fixed;
}

p {
  font-family: 'Prompt', sans-serif;
  color: white;
}

h3 {
  font-family: 'Prompt', sans-serif;
  color: white;
}

// First page

.img-first {
  background-size: cover;
  background-position: center;
}

.container-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.div-logo {
  text-align: center;
  margin-top: 50px;
}

.logo {
  width: 200px;
}

.fullname {
  font-family: 'elrotex';
  color: white;
  font-size: 65px;
}

.description {
  color: white;
  font-size: 35px;
}

.typed-text {
  color: white;
  font-size: 35px;
}

.typed-div {
  height: 120px;
}

.fa-angle-double-down {
  font-size: 50px;
  color: #d1e8ff;
  opacity: 0.5;
}

.first-arrow {
  text-align: center;
  margin-bottom: 50px;
}

// skill list
.competences-content {
  background-color: rgba(69,69,69,0.3);
  padding: 20px;
}

.logo-competences {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-skill {

  height: 80px;
}


// formation section

.logo-wagon-div {
  display: flex;
  justify-content: center;
}

.logo-wagon {
  height: 170px;
}

.text-formation {
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  font-size: 20px;
  text-align: justify;
  opacity: 0.6;
}

// projects section

.advice {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  color: white;
  text-align: justify;
  opacity: 0.6;
  // border-bottom: 0.5mm solid #C4D1D6;
}

.web-site a {
  color: black;
  text-decoration: none;
}

.web-site {
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-project {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.content-project {
  font-size: 20px;
  text-align: justify;
  opacity: 0.6;
}

// Contact section

.list-contact {
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  font-size: 30px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.icones {
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(0.4turn, white 25%, #94ccc2 50%, #64BCAE 75%, #3cb7a3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item-contact {
  margin-top: 30px;
}

.link-icone:hover {
  transform: scale(1.05);
}

// Form

.form-label {
  width: 100% !important;
  color: white;
  opacity: 0.8;
}

.center-btn {
  text-align: center;
}

.btn-form {
  color: white;
  padding: 15px 20px;
  border-radius: 300px;
  border: none;
  background:linear-gradient(to top, white 25%, #94ccc2 50%, #64BCAE 75%, #3cb7a3 100%);
  color: grey;
}

.btn-form:hover {
  transform: scale(1.05);
}
