@font-face {
  font-family: 'elrotex';
  src: asset_url('elrotex.ttf')
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

a:link {
  text-decoration: none;
}

.title {
  font-family: 'elrotex';
  color: white;
  font-size: 50px;
}

.arrow {
  display: flex;
  justify-content: center;
}

body {
 background-color: #3B3A3A;
}

// Background
.background-first {
  margin: 0;
  // (-45, Extreme bas Droite, Bas droite, Haut gauche, extreme haut gauche)
  background: linear-gradient(-45deg, black, #2d2c2c, grey, #d3d3d3);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  box-shadow: 0 0 50px rgba(226,226,226,0.2);
  border-radius: 5px;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container-bg {
  width: 100%;
  position: absolute;
  top: 35%;
}

// First page

.container-first {
  padding: 0 0 0 0;
}

.fullname {
  font-family: 'elrotex';
  color: white;
  font-size: 60px;
}

.description {
  font-family: 'elrotex';
  color: white;
  font-size: 30px;
}

.infos-name {
  text-align: center;
}

.typed-text {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #dbd4d4;
  font-size: 35px;
}

.logo {
  width: 150px;
}

.typed-div {
  height: 120px;
}

.fa-angle-double-down {
  font-size: 50px;
  color: white;
  opacity: 0.5;
}

// skill list

.flipCard {
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
   width: 300px;
   height: 200px;
   position: relative;
   margin: 10px auto;
}

.flipCard .card.flipped {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}

.flipCard .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.flipCard .card .side {
  width: 100%;
  height: 100%;
  // padding: 10px;
  cursor: pointer;
  position: absolute;
  // box-sizing: border-box;
  z-index: 2;
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
  -o-backface-visibility: hidden; /* Opera */
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  overflow: auto;
}

.flipCard .card .back {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}

.flipCard .card .front {
  background-color: #3B3A3A;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(255,255,255,0.1);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.ruby .card .front {
  background-image: asset_url("ruby.png");
}

.javascript .card .front {
  background-image: url("https://zcashfr.io/wp-content/uploads/2017/06/logo_javascript.png");
}

.html .card .front {
  background-image: url("https://www.stickpng.com/assets/images/5847f5bdcef1014c0b5e489c.png");
}

.css .card .front {
  background-image: url("https://blog.leonhassan.co.uk/content/images/size/w600/2019/09/css3.svg");
}

.sql .card .front {
  background-image: asset_url("hiclipart.com.png");
}

.jquery .card .front {
  background-image: url("http://pluspng.com/img-png/jquery-logo-png-jquery-320.png");
}

.github .card .front {
  background-image: url("http://pngimg.com/uploads/github/github_PNG40.png");
}

.api .card .front {
  background-image: url("https://eleven-strategy.fr/wp-content/uploads//bfi_thumb/learnmore-api-30hd9o2d4ui075zpjczd5y0n4amoucosrvv3kmaemru7bajds.png");
}

.bootstrap .card .front {
  background-image: url("https://www.ambient-it.net/wp-content/uploads/2016/04/bootstrap-logo-175.png");
}

.heroku .card .front {
  background-image: url("https://atomrace.com/blog/wp-content/uploads/2016/02/heroku-logo-trans.png");
}

.flipCard .card .back {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #3B3A3A;
  text-align: left;
  color: white;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(255,255,255,0.1);
}


// formation section

.logo-wagon-div {
  display: flex;
  justify-content: center;
}

.logo-wagon {
  width: 300px;
}

.text-formation {
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  font-size: 25px;
  text-align: justify;
  opacity: 0.8;
}

// projects section

.advice {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  color: white;
  text-align: justify;
  opacity: 0.6;
  // border-bottom: 0.5mm solid #C4D1D6;
}

.web-site a {
  color: black;
  text-decoration: none;
}

.web-site {
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-project {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.content-project {
  font-size: 25px;
  text-align: justify;
  opacity: 0.8;
}

// Contact section

.list-contact {
  font-family: 'elrotex';
  color: white;
  font-size: 25px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.icones {
  font-size: 50px;
}

.item-contact {
  margin-top: 30px;
}
