@font-face {
  font-family: 'elrotex';
  src: url('elrotex.ttf');
}

.fullname {
  font-family: 'elrotex';
  color: white;
  font-size: 60px;
}

.description {
  font-family: 'elrotex';
  color: #5E5E5E;
  font-size: 30px;
}

body {
  background: linear-gradient(black, #031126);
}

// color: #5E5E5E;
